{% extends "headerfooter.html "%}
{% block content %}


        

        <!-- Begin Main Content Area -->
        <div class="main-content_area">
            <!-- Begin Banner With Text Area -->
           <!--  <div class="banner-with_text overflow-hidden pt-160">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="text-area">
                                <span>The Habitat Method</span>
                                <h2 class="heading">We help you make your transition to your new life in a stress-free way</h2>
                                <p class="short-desc pearl-text_color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                                <p class="short-desc pearl-text_color pb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem iste sunt, nulla dicta obcaecati earum? Ut cumque reprehenderit quidem, laboriosam eaque laudantium dolore ipsa aliquid nobis unde velit similique ullam?</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-area pt-md-90">
                                <img class="w-100" src="/static/images/about-us/1.jpg" alt="Quicky's Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Banner With Text Area End Here -->
            <!-- Begin Banner With Text Area -->
            <div class="banner-with_text banner-with_text-2 overflow-hidden pt-160">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-area">
                                <img class="w-100" src="/static/images/about-us/5.png" alt="Quicky's Banner">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-area pt-md-155">
                                <!-- <span>About Rerun</span> -->
                                <h2 class="heading-2">Welcome to Our Website!
</h2>
                                <p class="short-desc-2 pearl-text_color">We are thrilled to have you here at our online store for secondary products. Our website is dedicated to offering a wide range of high-quality secondary products to meet your needs. As a team of passionate individuals, we are committed to providing exceptional service, outstanding products, and an enjoyable shopping experience for our valued customers.

</h2>
                            
                                <h2 class="heading-2">Our Story:</h2>
                                <p class="short-desc-2 pearl-text_color pb-0">Our journey began with a vision to create a platform that offers sustainable and affordable secondary products to customers who value quality and eco-consciousness. We recognized the importance of reducing waste and promoting a circular economy, and our website was born out of this passion.

</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner With Text Area End Here -->
            <!-- Begin Banner With Text Area Three -->
            
            <!-- Banner With Text Area Three End Here -->
            <!-- Begin Team Area -->
            <div class="team-area overflow-hidden pt-150">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="intro-section">
                                <h2 class="heading-2">Our Mission:</h2>
                                <div class="intro-short_desc">Our mission is to provide an online platform that promotes the reuse and repurposing of products, reducing waste and minimizing our environmental impact. We are committed to offering a diverse selection of secondary products that are in good condition and can be used for various purposes, helping to extend their lifecycle and reduce the need for new production</div>
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="heading-2">Our Products:</h2>
                            <div class="intro-short_desc">At our website, you will find a wide array of secondary products that are carefully curated to meet your needs. Our product range includes [mention specific categories or types of products that you offer], and we take pride in offering items that are in excellent condition, thoroughly inspected, and priced competitively. We strive to provide detailed product descriptions and images to help you make informed decisions and ensure that you are satisfied with your purchase.

</div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- Team Area End Here -->
           
            <!-- Begin Brand Area -->
            <div class="brand-area ptb-160">
                <div class="container">
                    <div class="brand-nav">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="quicky-element-carousel brand-slider" data-slick-options='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "infinite": true,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 3
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":575, "settings": {
                            "slidesToShow": 2
                            }}
                        ]'>

                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/brand/5.png" alt="Quicky's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/brand/6.png" alt="Quicky's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/brand/7.png" alt="Quicky's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/brand/8.png" alt="Quicky's Brand">
                                        </a>
                                    </div>
                                    <div class="brand-item">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/brand/5.png" alt="Quicky's Brand">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand Area End Here -->
            <!-- Begin Service Area Two -->
            <div class="service-area-2 pb-160">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <div class="service-item img-height bg-01">
                                <div class="service-img">
                                    <img src="/static/images/service/4.png" alt="Quicky's Service">
                                </div>
                                <div class="service-content">
                                    <h3 class="heading">Connecting Local</h3>
                                    <p class="short-desc">Around a area</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item img-height bg-02">
                                <div class="service-img">
                                    <img src="/static/images/service/5.png" alt="Quicky's Service">
                                </div>
                                <div class="service-content">
                                    <h3 class="heading">Bin less,Reuse more</h3>
                                    <p class="short-desc">RERUN lengthens the life of an item </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="service-item img-height bg-03">
                                <div class="service-img">
                                    <img src="/static/images/service/6.png" alt="Quicky's Service">
                                </div>
                                <div class="service-content">
                                    <h3 class="heading">Values</h3>
                                    <p class="short-desc">It is our firm belief that these objectives can only be achieved through mutual respect and cooperation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service Area Two End Here -->
        </div>
        <!-- Main Content Area End Here -->

        {% endblock %}