{% extends "headerfooter.html "%}
{% block content %}

<style type="text/css">
    .space{
          position: absolute;
  top: 300px;
  /*right: 6px;*/
    }
</style>

        <!-- Begin Slider Area Three -->
        <div class="slider-area-3">


 <!-- <div class="breadcrumb-area"> -->
    <div class="slide-item ">
          <div class="social-link social-link-2 space">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/profile.php?id=100090389973871&mibextid=ZbWKwL" data-toggle="tooltip" target="_blank" data-placement="left" title="Facebook">
                                    Facebook
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/dilshanasubair1?t=Y9AQC20KCcKxKhp5pabg4w&s=08" data-toggle="tooltip" target="_blank" data-placement="left" title="Twitter">
                                    Twitter
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="https://instagram.com/re_run.__?igshid=ZDdkNTZiNTM=/" data-toggle="tooltip" target="_blank" data-placement="left" title="Instagram">
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
   
     <img src="/static/images/slider/slider-product/rerun3.png" alt="Slider Product" >
    

            <!-- <div class="container"> -->

                <!-- <div class="breadcrumb-content">

                    <h2>Shop Grid View</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Shop Three Column</li>
                    </ul>
                </div> -->
            <!-- </div> -->
        </div>
            <div class="quicky-element-carousel home-slider home-slider-3 arrow-style" data-slick-options='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": false,
                "dots": true,
                "autoplay" : true,
                "autoplaySpeed" : 7000,
                "pauseOnHover" : false,
                "pauseOnFocus" : false,
                "vertical" : true
                }' data-slick-responsive='[
                {"breakpoint":768, "settings": {
                "slidesToShow": 1
                }},
                {"breakpoint":575, "settings": {
                "slidesToShow": 1
                }}
            ]'>
                <!-- <div class="slide-item animation-style-03 position-relative bg-4">
                    <div class="social-link social-link-2">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/profile.php?id=100090389973871&mibextid=ZbWKwL" data-toggle="tooltip" target="_blank" data-placement="left" title="Facebook">
                                    Facebook
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/dilshanasubair1?t=Y9AQC20KCcKxKhp5pabg4w&s=08" data-toggle="tooltip" target="_blank" data-placement="left" title="Twitter">
                                    Twitter
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="https://instagram.com/re_run.__?igshid=ZDdkNTZiNTM=/" data-toggle="tooltip" target="_blank" data-placement="left" title="Instagram">
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div> -->
                   <!--  <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-slide">
                                    <div class="slider-img">
                                        <img src="/static/images/slider/slider-product/4.png" alt="Slider Product">
                                    </div>
                                    <div class="slide-content slide-content_right">
                                        <h2 class="freestyle-script">Re Run</h2>
                                        <p class="short-desc">Produce and supply various Secondary products all a small area
                                            were very attractive</p>
                                        <div class="slide-btn">
                                            <a class="quicky-btn horizontal-line_ltr horizontal-line_rtl" href="/shop/">Shop Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
              <!--   </div> -->


        
<!--                 <div class="slide-item animation-style-02 position-relative bg-4">
                    <img src="/static/images/slider/slider-product/rerun1.png" alt="Slider Product" width="1517" height="650">
                    <div class="social-link social-link-2">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/profile.php?id=100090389973871&mibextid=ZbWKwL" data-toggle="tooltip" target="_blank" data-placement="left" title="Facebook">
                                    Facebook
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/dilshanasubair1?t=Y9AQC20KCcKxKhp5pabg4w&s=08" data-toggle="tooltip" target="_blank" data-placement="left" title="Twitter">
                                    Twitter
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="https://instagram.com/re_run.__?igshid=ZDdkNTZiNTM=/" data-toggle="tooltip" target="_blank" data-placement="left" title="Instagram">
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
               
                </div> -->

            </div>

        </div>
        <!-- Slider Area Three End Here -->

        <!-- Begin Banner Area Five -->
      <!--   <div class="banner-area-5 pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-4 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/3-1.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 custom-xxs-col">
                        <div class="row banner-wrap">
                            <div class="col-lg-12">
                                <div class="banner-item">
                                    <div class="banner-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/banner/3-2.jpg" alt="Quicky's Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="banner-item">
                                    <div class="banner-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/banner/3-3.jpg" alt="Quicky's Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Banner Area Five End Here -->

    

    

        <!-- Begin Banner Area Six -->
       <!--  <div class="banner-area-6 pt-85">
            <div class="container">
                <div class="row">
                    <div class="col-8 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/3-4.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/3-5.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Banner Area Six End Here -->
        <div class="container-fluid mt-5">
  <h1>Category</h1>
  <div style="float: right;"><a href="/category_view/">view all</a></div>
  <br>
 
  <div class="row">
    <div class="col-sm-2"><a href="/category_view/?cat=FASHION AND STYLE">
                                            <img src="/static/images/cat/fs.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>FASHION</center></h5>
                                        </a></div>
 
    <div class="col-sm-2"><a href="/category_view/?cat=SPORTS">
                                            <img src="/static/images/cat/s.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>SPORTS</center></h5>
                                        </a></div>
    <div class="col-sm-2"><a href="/category_view/?cat=HOME APPLIANCES">
                                            <img src="/static/images/cat/ha.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>HOME</center></h5>
                                        </a></div>


    <div class="col-sm-2"><a href="/category_view/?cat=PHONE AND ACCESSORIES">
                                            <img src="/static/images/cat/pa.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>ACCESSORIES</center></h5>
                                        </a></div>
    
   <div class="col-sm-2"><a href="/category_view/?cat=MUSICAL INSTRUMENTS">
                                            <img src="/static/images/cat/b.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>INSTRUMENTS</center></h5>
                                        </a></div>
    
    <div class="col-sm-2"><a href="/category_view/?cat=SCRAP">
                                            <img src="/static/images/cat/scrap.png" style="width: 200px;height: 200px;object-fit: contain;" alt="Quicky's Product Image">
                                            <h5><center>SCRAP</center></h5>
                                        </a></div>
    
  </div>
</div>

 <div class="product-area-3 pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3 class="heading">Featured Rerun Products</h3>
                            <p class="short-desc">Reuse and Recycle various items all over
                                the locality which were very attractive</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="quicky-element-carousel product-slider" data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

                                {% for x in data %}

                            <div class="product-item">


                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="/singleproduct_view/?pid={{x.id}}">
                                            <img src="{{x.File.url}}" style="width: 360px;height: 341.41px;object-fit: contain;" alt="Quicky's Product Image">
                                        </a>
                                       <!--  <span class="sticker">New</span>
                                        <span class="sticker-2">-16%</span> -->
                                        <div class="add-actions hover-right_side">
                                            <!-- <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Quick View"><i
                                                        class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="left" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="/singleproduct_view/?pid={{x.id}}">{{x.Title}}</a></h3>
                                            <div class="price-box">
                                                <!-- <span class="old-price">$80.00</span> -->
                                                <span class="new-price">${{x.Price}}</span>
                                            </div>
                                            <!-- <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Fashion</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}

      
                 
               

                        </div>
                        <br>
                        <div><p style="text-align: center;"><a href="/shop/">show all</a></p></div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info">Button</button>
        </div>
        <!-- Begin Service Area -->
        <div class="service-area pt-100 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/1.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">Connecting Local</h3>
                                <p class="short-desc">Around a local Area</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/2.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">Quality Products</h3>
                                <p class="short-desc">We ensure our product
                                    quality all times</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/3.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">3R's</h3>
                                <p class="short-desc">Got pollution? Be the solution!...Go with RERUN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Area End Here -->

       {% endblock %}     