{% extends "headerfooter.html "%}
{% block content %}
        <!-- Main Header Area End Here -->

        <!-- Begin Slider Area -->
        <div class="slider-area">

            <div class="quicky-element-carousel home-slider arrow-style" data-slick-options='{
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "infinite": true,
                "arrows": true,
                "dots": false,
                "autoplay" : true,
                "fade" : true,
                "autoplaySpeed" : 7000,
                "pauseOnHover" : false,
                "pauseOnFocus" : false
                }' data-slick-responsive='[
                {"breakpoint":768, "settings": {
                "slidesToShow": 1
                }},
                {"breakpoint":575, "settings": {
                "slidesToShow": 1
                }}
            ]'>
                <div class="slide-item animation-style-01 bg-1">
                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-slide">
                                    <div class="slide-content">
                                        <h2>Basket Weave</h2>
                                        <p class="short-desc">Produce and supply various Handicraft items all over
                                            the world which were very attractive</p>
                                        <div class="slide-btn">
                                            <a class="quicky-btn horizontal-line_ltr" href="shop-left-sidebar.html">Discover Now!</a>
                                        </div>
                                    </div>
                                    <div class="slider-img">
                                        <img src="/static/images/slider/slider-product/1.png" alt="Slider Product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item animation-style-02 bg-1">
                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-slide">
                                    <div class="slide-content">
                                        <h2>Basket Weave</h2>
                                        <p class="short-desc">Produce and supply various Handicraft items all over
                                            the world which were very attractive</p>
                                        <div class="slide-btn">
                                            <a class="quicky-btn horizontal-line_ltr" href="shop-left-sidebar.html">Discover Now!</a>
                                        </div>
                                    </div>
                                    <div class="slider-img">
                                        <img src="/static/images/slider/slider-product/2.png" alt="Slider Product">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item animation-style-03 bg-1">
                    <div class="slider-progress"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner-slide">
                                    <div class="slider-img">
                                        <img src="/static/images/slider/slider-product/3.png" alt="Slider Product">
                                    </div>
                                    <div class="slide-content slide-content_right">
                                        <h2>Basket Weave</h2>
                                        <p class="short-desc">Produce and supply various Handicraft items all over
                                            the world which were very attractive</p>
                                        <div class="slide-btn">
                                            <a class="quicky-btn horizontal-line_ltr horizontal-line_rtl" href="shop-left-sidebar.html">Discover Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Slider Area End Here -->

        <!-- Begin Banner Area -->
        <div class="banner-area pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-6 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/1-1.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-6 custom-xxs-col">
                        <div class="row banner-wrap">
                            <div class="col-md-6">
                                <div class="banner-item">
                                    <div class="banner-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/banner/1-2.jpg" alt="Quicky's Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-item">
                                    <div class="banner-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/banner/1-3.jpg" alt="Quicky's Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row banner-wrap d-none d-md-block">
                            <div class="col-lg-12">
                                <div class="banner-item">
                                    <div class="banner-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/banner/1-4.jpg" alt="Quicky's Banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 d-block d-md-none">
                        <div class="banner-item specific-banner_item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/1-4.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->

        <!-- Begin Product Area -->
        <div class="product-area pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3 class="heading">Featured Products</h3>
                            <p class="short-desc">Produce and supply various Handicraft items all over
                                the world which were very attractive</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="quicky-element-carousel product-slider" data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/1.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                        <span class="sticker-2">-16%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                        class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">White Black Poat</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$80.00</span>
                                                <span class="new-price">$60.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/2.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                        class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Cesteria Long Poat</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$100.00</span>
                                                <span class="new-price">$90.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/3.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                        <span class="sticker-2">-25%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                        class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Woodent Turning</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$45.00</span>
                                                <span class="new-price">$90.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/1.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                        <span class="sticker-2">-16%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                        class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">White Black Poat</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$80.00</span>
                                                <span class="new-price">$60.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->

        <!-- Begin Best Deals Area -->
        <div class="best-deals_area pt-85">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-12">
                        <div class="best-deal_wrap">
                            <div class="quicky-element-carousel best-deal_slider" data-slick-options='{
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "infinite": true,
                                "arrows": false,
                                "dots": false,
                                "fade": true
                                }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {
                                "slidesToShow": 1
                                }},
                                {"breakpoint":768, "settings": {
                                "slidesToShow": 1
                                }},
                                {"breakpoint":575, "settings": {
                                "slidesToShow": 1
                                }}
                            ]'>

                                <div class="best-deal_item best-deal-bg-01">
                                    <div class="best-deal_content">
                                        <span class="product-discount">DISCOUNTED UP TO <strong>50%</strong></span>
                                        <h3 class="product-name">Zongely Basket</h3>
                                        <span class="product-offer">LIMITED TIME OFEER</span>
                                        <div class="countdown-wrap">
                                            <div class="countdown item-4" data-countdown="2020/09/01" data-format="short">
                                                <div class="countdown__item">
                                                    <span class="countdown__time daysLeft"></span>
                                                    <span class="countdown__text daysText"></span>
                                                </div>
                                                <div class="countdown__item">
                                                    <span class="countdown__time hoursLeft"></span>
                                                    <span class="countdown__text hoursText"></span>
                                                </div>
                                                <div class="countdown__item">
                                                    <span class="countdown__time minsLeft"></span>
                                                    <span class="countdown__text minsText"></span>
                                                </div>
                                                <div class="countdown__item">
                                                    <span class="countdown__time secsLeft"></span>
                                                    <span class="countdown__text secsText"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="quicky-btn-ps_left">
                                            <a class="quicky-btn horizontal-line_ltr" href="shop-left-sidebar.html">Discover
                                                Now!</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="testimonial-wrap">
                            <div class="quicky-element-carousel testimonial-slider" data-slick-options='{
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "infinite": false,
                                "arrows": false,
                                "autoplay" : true,
                                "dots": false
                                }' data-slick-responsive='[
                                {"breakpoint":992, "settings": {
                                "slidesToShow": 1
                                }},
                                {"breakpoint":768, "settings": {
                                "slidesToShow": 1
                                }},
                                {"breakpoint":575, "settings": {
                                "slidesToShow": 1
                                }}
                            ]'>

                                <div class="testimonial-item testimonial-bg-01">
                                    <div class="testimonial-content">
                                        <p class="short-desc"><strong>Quicky</strong> is one of the best ecommerce shop that
                                            produce and supply arious Handicraft items all
                                            over the world which were very attractive
                                            <div class="user-info">
                                                <h3 class="user-name">Alberto Nicolus</h3>
                                                <span class="user-occupation">CEO, Opex</span>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="testimonial-item testimonial-bg-01">
                                    <div class="testimonial-content">
                                        <p class="short-desc"><strong>Quicky</strong> is one of the best ecommerce shop that
                                            produce and supply arious Handicraft items all
                                            over the world which were very attractive
                                            <div class="user-info">
                                                <h3 class="user-name">Alberto Nicolus</h3>
                                                <span class="user-occupation">CEO, Opex</span>
                                            </div>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Best Deals Area End Here -->

        <!-- Begin Product Area Two -->
        <div class="product-area product-area-2 pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3 class="heading">Popular Products</h3>
                            <p class="short-desc">Produce and supply various Handicraft items all over
                                the world which were very attractive</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="quicky-element-carousel product-slider" data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30,
                        "rows" : 2
                        }' data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/4.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                        <span class="sticker-2">-16%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Thin Cap Poat</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$95.00</span>
                                                <span class="new-price">$55.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/5.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Basket Vessel</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$120.00</span>
                                                <span class="new-price">$75.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/6.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                        <span class="sticker-2">-25%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Water Jug</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$62.00</span>
                                                <span class="new-price">$28.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/7.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">New</span>
                                        <span class="sticker-2">-16%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Bamboo Vessel</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$65.00</span>
                                                <span class="new-price">$39.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/8.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker-2">-30%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Delereto Veselo</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$120.00</span>
                                                <span class="new-price">$97.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="/static/images/product/medium-size/9.jpg" alt="Quicky's Product Image">
                                        </a>
                                        <span class="sticker">Hot</span>
                                        <span class="sticker-2">-25%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="icon-magnifier"></i></a>
                                                </li>
                                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="icon-heart"></i></a>
                                                </li>
                                                <li><a href="compare.html" data-toggle="tooltip" data-placement="top" title="Add To Compare"><i class="icon-refresh"></i></a>
                                                </li>
                                                <li><a href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To cart"><i class="icon-bag"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-desc_info">
                                            <h3 class="product-name"><a href="single-product.html">Premium Style Poat</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$75.00</span>
                                                <span class="new-price">$49.00</span>
                                            </div>
                                            <div class="review-area d-flex justify-content-between align-items-center">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                        <li><i class="icon-star"></i></li>
                                                    </ul>
                                                </div>
                                                <span class="manufacture-product">Handcraft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area Two End Here -->

        <!-- Begin Banner Area Two -->
        <div class="banner-area-2 pt-85">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-6 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/1-5.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/1-6.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 custom-xxs-col">
                        <div class="banner-item">
                            <div class="banner-img">
                                <a href="javascript:void(0)">
                                    <img src="/static/images/banner/1-7.jpg" alt="Quicky's Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area Two End Here -->

        <!-- Begin Service Area -->
        <div class="service-area pt-100 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/1.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">Free Home Delivery</h3>
                                <p class="short-desc">Provide free home delivery
                                    for all product over $100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/2.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">Quality Products</h3>
                                <p class="short-desc">We ensure our product
                                    quality all times</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="/static/images/service/3.png" alt="Quicky's Service">
                            </div>
                            <div class="service-content">
                                <h3 class="heading">3 Day Return</h3>
                                <p class="short-desc">Our producr return policy
                                    is very easy & simple</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Area End Here -->

{% endblock %}