{% extends "headerfooter.html "%}
{% block content %}
        <!-- Begin Letest Blog Area Two -->
        <div class="latest-blog_area-2 pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3 class="heading">How to sell Product in ReRun Web Application</h3>
                            <div class="section-icon"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="quicky-element-carousel product-slider" data-slick-options='{
                            "slidesToShow": 3,
                            "slidesToScroll": 0,
                            "infinite": false,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":575, "settings": {
                            "slidesToShow": 1
                            }}
                        ]'>

                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s1.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white" style="padding-bottom: 50px;">
                                    <h3 class="heading titillium-font"><a href="#">STEP 1</a></h3>
                                    <p class="short-desc">Register and Log in with given E-mail and Password</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s2.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white" style="padding-bottom: 50px;">
                                    <h3 class="heading titillium-font"><a href="#">STEP 2</a>
                                    </h3>
                                    <p class="short-desc">Click the login button to see the Bank form.</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s3.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white">
                                    <h3 class="heading titillium-font"><a href="#">STEP 3</a>
                                    </h3>
                                    <p class="short-desc">You can add products only after completing the bank form</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s3.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white">
                                    <h3 class="heading titillium-font"><a href="#">Trendy Fashion for Ladies Hand Bag
                                            and
                                            Shoes as well as Tops and Pants</a></h3>
                                    <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                     <div class="col-lg-12">
                        <div class="quicky-element-carousel product-slider" data-slick-options='{
                           "slidesToShow": 3,
                            "slidesToScroll": 0,
                            "infinite": false,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":575, "settings": {
                            "slidesToShow": 1
                            }}
                        ]'>


                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s4.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white">
                                    <h3 class="heading titillium-font"><a href="#">STEP 4</a></h3>
                                    <p class="short-desc">You should add product details correctly</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s5.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white">
                                    <h3 class="heading titillium-font"><a href="#">STEP 5</a>
                                    </h3>
                                    <p class="short-desc">Yoc can accept exchange offer</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s6.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white" style="padding-bottom: 50px;">
                                    <h3 class="heading titillium-font"><a href="#">STEP 6</a>
                                    </h3>
                                    <p class="short-desc">Nearest Rerun
partner will
collect and pay you (customer)</p>
                                    <!-- <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="/static/images/blog/step/s6.png" alt="Quicky's Blog">
                                    </a>
                                </div>
                                <div class="blog-content bg-buttery-white">
                                    <h3 class="heading titillium-font"><a href="#">Trendy Fashion for Ladies Hand Bag
                                            and
                                            Shoes as well as Tops and Pants</a></h3>
                                    <div class="readmore-ps_left">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <!-- Letest Blog Area Two End Here -->


     {% endblock %}